# .github/workflows/test.yml

name: Test

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  packages: none

env:
  GOPRIVATE: github.com/synadia-io/*

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: true
          cache-dependency-path: 'go.sum'
      - name: Download dependencies
        run: go mod download
      - name: Run tests
        run: go run github.com/onsi/ginkgo/v2/ginkgo -r -timeout=10m --vv --show-node-events --poll-progress-after=5s --poll-progress-interval=1s
